
RewriteEngine On
RewriteCond %{SERVER_PORT} 80 [OR]
RewriteCond %{HTTP_HOST} !^www.pythony.dev$
RewriteRule ^.*$ https://www.pythony.dev/$1 [QSA,R,L]
RewriteRule !^(Index.php$)|(Worker.js$)|(Public/.*$) /Index.php [QSA]
