
	body {
		background : linear-gradient(90deg, #FFDFBF, #9F9F9F, #FF1F1F);
	} a, [target] {
		color : black;
		text-decoration : none;
	} header { 
		text-align : center;
	} header img {
		width : 80%;
		margin : 20px;
		border-radius : 67px;
		-webkit-transition : width 0.5s;
	} header img:hover {
		width : 90%;
		-webkit-transition : width 0.5s;
	} nav {
		text-align : center;
		border-bottom : solid black;
		margin-bottom : 20px;
	} nav a {
		display : inline-block;
		border : solid black;
		border-bottom : none;
		text-align : center;
		width : 25%;
		padding : 16px 0px;
		margin-bottom : 0px;
		margin : 0px 25px;
		font-size : 125%;
		font-weight : bold;
		border-radius : 25px 25px 0px 0px;
		background : linear-gradient(#7F7F7F, #3F3F3F);
		-webkit-transition : width 0.5s;
	} nav a:hover {
		width : 30%;
		-webkit-transition : width 0.5s;
	} #Index {
		text-align : center;
		line-height : middle;
	} #Index article {
		display : inline-block;
		font-weight : bold;
		text-align : left;
		vertical-align : middle;
	} #Index img {
		vertical-align : middle;
		width : 25%;
		border-radius : 16px;
		margin : 16px;
	} section a {
		color : #5F5F5F;
	} #Screenshot article img {
		text-align : center;
		width : 25%;
		border-radius : 16px;
		margin : 16px;
	} #Screenshot article, #Download article, #Download h1, input, textarea {
		text-align : center;
	} h1 {
		font-size : 150%;
	} table {
		display : inline-block;
		border-collapse : collapse;
	} td {
		width : 20%;
		height : 75px;
		border : solid black;
	} article +article td {
		width : 384px;
	} td img {
		display : inline-block;
		width : 128px;
		margin : 0px;
	} fieldset {
		display : inline-block;
		width : 50%;
		text-align : center;
		margin : 10px;
		padding : 20px;
		border : solid black;
		background : white;
	} legend {
		background : white;
		border-radius : 20px;
	} input[type ="text"] {
		width : 20%;
	} textarea {
		resize : none;
	} footer p {
		font-weight: bold;
		text-align : center;
		font-size : 125%;
    }
